.button-singin {
    transition-property: all;
    transition-duration: 1.5s;
    color: var(--secondary);
    width: 25rem;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 1.5rem;
    border: 0.3rem solid var(--secondary);
    background-color: transparent;
    cursor: pointer;
}

.button-singin-none {
    transition-property: all;
    transition-duration: 0.6s;
    color: transparent;
    width: 10rem;
    height: 2.6rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: 0.3rem solid transparent;
    background-color: transparent;
}

.container-button {
    padding-top: 3rem;
}

.container-inputs-singin {
    padding-bottom: 1rem;
}

.container-singin {
    height: 100%;
    width: 100%;
    color: var(--black);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-form {
    color: var(--secondary);
    font-size: 1.5rem;
    left: 40%;
    right: 40%;
    position: absolute;
    margin-top: -1.5rem;
}

.input-singin {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 34rem;
    height: 4rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    text-align: center;
}

.text-singin-after {
    transition-property: all;
    transition-duration: .7s;
    margin-top: -1.5rem;
    color: var(--secondary);
    position: absolute;
    font-size: 3rem;
    padding-left: 1.5rem;
}

.text-singin {
    transition-property: all;
    transition-duration: .5s;
    margin-top: 2.5rem;
    position: absolute;
    font-size: 1.8rem;
    padding-left: 1.5rem;
}

.wash {
    font-size: 10rem;
    padding-top: 10%;
    padding-bottom: 8rem;
    animation: fluido 10s ease-in-out infinite;
    background: linear-gradient(-45deg, var(--secondary), var(--quaternary), var(--secondary));
    background-size: 1000%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}